<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ひろゆきドラフト</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <parent></parent>
</div>
<script>
  Vue.component('parent', {
    template: `
      <div align="center">
        <p v-if="win_team_name">{{ win_team_name }}に決定！</p>
        <p v-else>ひろゆきには誰も入札していません</p>
        <img width="500px" src="https://dol.ismcdn.jp/mwimgs/d/5/-/img_88f89f52d1e1833ee8de671a178c006544566.jpg">
        <div style="display: flex; justify-content: center; align-items: center;">

          <div v-for="team in bids" style="margin: 10px; border: 1px solid black; padding: 10px;">
            <input-box
              :team_name="team.team_name"
              :bid_price="team.bid_price"
              @new-bid-price="updateBid">
            </input-box>
          </div>
        </div>
      </div>
    `,
    data() {
      return {
        bids: [{
            team_name: "ヤクルトスワローズ",
            bid_price: 0
          },{
            team_name: "読売ジャイアンツ",
            bid_price: 0
          },{
            team_name: "阪神タイガース",
            bid_price: 0
          },{
            team_name: "中日ドラゴンズ",
            bid_price: 0
          },{
            team_name: "広島カープ",
            bid_price: 0
          },{
            team_name: "DeNAベイスターズ",
            bid_price: 0
        }],
        highest_price: 0,
        win_team_name: undefined
      };
    },
    methods: {
      updateBid({ team, price }) {
        for (let i = 0; i < this.bids.length; i++) {
          if (this.bids[i].team_name === team) {
            this.bids[i].bid_price = price;
            if (price > this.highest_price) {
              this.highest_price = price;
              this.win_team_name = this.bids[i].team_name;
            }
          }
        }
      }
    }
  });


  Vue.component('input-box', {
    props: ['team_name', 'bid_price'],
    template: `
      <div>
        <p>{{ team_name }}</p>
        <input type="number" v-model.number="price" min="0" @input="emit">
        <p>入札価格：{{ price }} ＄</p>
      </div>
    `,
    data: function() {
      return {
        price: this.bid_price
      };
    },
    methods: {
      emit() {
        this.$emit('new-bid-price', {
          team: this.team_name,
          price: this.price
        });
      }
    }
  });

  new Vue({
    el: '#app'
  });
</script>
</body>
</html>